* {
  padding: 0;
  margin: 0;
  font-family: "Roboto Mono", monospace;
}

html,
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #b0c4de;
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.05) 1px, transparent 1px),
    linear-gradient(90deg, rgba(0, 0, 0, 0.05) 1px, transparent 1px);
  background-size: 32px 32px;
}

.header-before-start {
  text-align: center;
  margin-top: 20vh;
}

.header-after-start-e {
  text-align: center;
  margin-top: 16vh;
}

.header-after-start-m {
  text-align: center;
  margin-top: 12vh;
}

.header-after-start-h {
  text-align: center;
  margin-top: 10vh;
}

.header-after-start-vh {
  text-align: center;
  margin-top: 0;
}

#githubicon {
  position: absolute;
  top: 40px;
  right: 6vw;
  width: 60px;
  height: 60px;
  transition: 1.5s;
  z-index: 0;
  background-color: transparent;
  border-radius: 100px;
}

#githubicon:hover {
  transform: translateY(-5px);
  background-color: azure;
}

#homeIcon {
  position: absolute;
  top: 40px;
  left: 6vw;
  width: 60px;
  height: 60px;
  transition: 1.5s;
  z-index: 0;
  background-color: transparent;
}

#homeIcon:hover {
  transform: translateY(-5px);
}

h1 {
  margin: 10px 10px 0 10px;
}

p {
  margin: 3px;
}

#gameBoard_UI {
  margin: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.cell {
  border: 1px dimgrey solid;
  background-color: rgb(201, 201, 201, 0.4);
  text-align: center;
}

.easyCell {
  height: 29px;
  width: 29px;
  background-size: 29px;
  line-height: 29px;
  font-size: 24px;
}

.medCell {
  height: 24px;
  width: 24px;
  background-size: 24px;
  line-height: 24px;
  font-size: 21px;
}

.hardCell {
  height: 21px;
  width: 21px;
  background-size: 21px;
  line-height: 21px;
  font-size: 17px;
}

.vhardCell {
  height: 19px;
  width: 19px;
  background-size: 19px;
  line-height: 19px;
  font-size: 16px;
}

.cell:not(.flipped):hover {
  background-color: lightgrey;
}

.explosion {
  background-color: red !important;
  background-image: url("../images/boom.png");
}

.bomb {
  background-color: grey !important;
  background-image: url("../images/mine.png") !important;
}

.correct {
  background-color: green;
  background-image: url("../images/red-flag.png");
}

.incorrect {
  background-color: darkred;
  background-image: url("../images/red-flag.png");
}

.empty {
  background-color: #484848;
}

.flag {
  background-image: url("../images/red-flag.png");
}

.question-mark {
  color: blue;
}

.hidden {
  display: none;
}

.notShown {
  visibility: hidden;
}

.shadowBox {
  box-shadow: 2px 4px 8px 2px rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.hide {
  display: none !important;
}

select {
  margin-top: 0;
  font-size: 1em;
  font-family: "Roboto Mono", monospace;
  background-color: lightblue;
  width: 120px;
}

select:hover {
  cursor: pointer !important;
}

#timer {
  margin-top: 0;
  margin-bottom: 2px;
  text-align: center;
}

#timerLabel {
  font-size: 1.1em;
  padding-left: 0;
}

#hideTimer {
  height: 17px;
  width: 17px;
}

#hideTimerContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

#btns {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

#btns > div {
  font-size: 2em;
  border-radius: 7px;
  padding: 5px;
  border: 1px solid black;
  transition: background-color 500ms;
  width: 250px;
  text-align: center;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 10px;
}

#btns > div:hover {
  background-color: dimgray;
  cursor: pointer;
}

#bombsLeftText {
  font-size: large;
}

#highScores {
  margin-top: 40px;
}

#difForm {
  margin-top: 10px;
}

ul {
  list-style-type: none;
}

.extraMargin {
  margin-top: 17px !important;
}

#updateText {
  margin-top: 15px;
}

#modal-box {
  z-index: 1;
  position: fixed;
  padding: 0;
  margin: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}

#inner-modal-box {
  position: relative;
  text-align: center;
  border-radius: 5px;
  box-shadow: inset 0 0 0 4px black;
  margin-left: 40vw;
  margin-top: 10vh;
  background-color: azure;
  width: 350px;
  height: 15vh;
}

#modal-message {
  vertical-align: middle;
  font-family: "Roboto Mono", monospace !important;
  font-size: xx-large;
  line-height: 15vh;
}

#close-button {
  position: absolute;
  right: 20px;
  top: 10px;
  font-size: 30px;
  font-weight: bold;
  border-radius: 30px;
  width: 25px;
  height: 25px;
  line-height: 25px;
}

#close-button:hover {
  cursor: pointer;
  color: red;
}

