* {
  padding: 0;
  margin: 0;
  font-family: "Roboto Mono", monospace;
}

html,
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #b0c4de;
}

header {
  text-align: center;
  /* margin: 10px; */
}

#githubicon {
  position: absolute;
  top: 20px;
  right: 6vw;
  width: 70px;
  height: 70px;
  transition: 1.5s;
  z-index: 0;
  background-color: transparent;
  border-radius: 30px;
}

#githubicon:hover {
  transform: translateY(-5px);
  background-color: azure;
}

#homeIcon {
  position: absolute;
  top: 20px;
  left: 6vw;
  width: 70px;
  height: 70px;
  transition: 1.5s;
  z-index: 0;
  background-color: transparent;
}

#homeIcon:hover {
  transform: translateY(-5px);
}

h1 {
  margin: 10px;
}

p {
  margin: 3px;
}

#gameBoard_UI {
  margin: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.cell {
  height: 20px;
  width: 20px;
  border: 1px dimgrey solid;
  background-color: rgb(201, 201, 201, 0.4);
  text-align: center;
}

.cell:not(.flipped):hover {
  background-color: lightgrey;
}

.explosion {
  background-color: red !important;
  background-image: url("../images/boom.png");
}

.bomb {
  background-color: grey !important;
  background-image: url("../images/mine.png") !important;
}

.correct {
  background-color: green;
  background-image: url("../images/red-flag.png");
}

.incorrect {
  background-color: darkred;
  background-image: url("../images/red-flag.png");
}

.empty {
  background-color: #484848;
}

.flag {
  background-image: url("../images/red-flag.png");
}

.question-mark {
  color: blue;
}

.hidden {
  display: none;
}

.notShown {
  visibility: hidden;
}

.shadowBox {
  box-shadow: 2px 4px 8px 2px rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.hide {
  display: none !important;
}

select {
  margin-top: 0px;
  font-size: 1em;
  font-family: "Roboto Mono", monospace;
  background-color: lightblue;
}

#timer {
  margin-top: 0;
  margin-bottom: 2px;
  text-align: center;
}

#timerLabel {
  font-size: 1.1em;
  padding-left: 0px;
}

#hideTimer {
  height: 17px;
  width: 17px;
}

#hideTimerContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

#btns {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-bottom: 20px;
}

#btns > div {
  font-size: 1em;
  border-radius: 7px;
  padding: 5px;
  border: 1px solid black;
  transition: 500ms;
  width: max-content;
  text-align: center;
  margin-left: 5px;
  margin-right: 5px;
}

#btns > div:hover {
  background-color: dimgray;
  cursor: pointer;
}

#bombsLeftText {
  font-size: large;
}

#highScores {
  margin-top: 50px;
}
